<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <style>
        body,
        html {
            height: 100%;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/g.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

        }
    </style> -->
</head>
<h3 style="color:white;float: right;"> שלום {{owner.ownerName}} </h3>
<br>
<br>
<br>
<p style="font-size: 20px;float: right;color:white">הסניפים שלי:</p><br>

<body>

    <div class="container" class="hero-image">

        <br>
        <!-- לולאת כפתורים שמכילים סניפים  -->

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-6">

                <div id="d" class="col three" *ngFor="let item of MylistB">

                    <button style="width:350%;max-width: 100;margin: 5PX;" class="col three"
                        (click)="ChozenBusiness(item)">{{item.businessID}}</button>

                </div>
            </div>



        </div>

    

        <div class="container" style="
        left: 10%;">

            <div class="row" style=" text-align: center;">
                <div class="col three">
                    <button class="btn1" (click)="addNewBusiness()">הוסף עסק
                        חדש!</button>
                </div>
                <div class="col three">
                    <button class="btn" (click)="back()">הקודם</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: auto;">
        <router-outlet></router-outlet>

    </div>
</body>